@import url('https://fonts.cdnfonts.com/css/elowen');
h1{
    font-family: 'Elowen', sans-serif;
    text-align: center;
    color: #af6e31                                        
}
body{
    background-color: #fef8cd;
    margin: 0;
}
.logo{
    width: 100%;
}
div{
    width: 75%;
    padding: 5%; /*espaçameto*/
    background-color: white;
    margin: 0 auto; /*automaticamente para centrar*/
    border-radius: 15px;
    /* border: 10px dotted black */
}    
p{
    margin-bottom: 8%;
}